$white: #ffffff;
$redcolor: #FD5750;
$textColor: #272727;
$lightgrey: #8C8C8C;

.mainWrapper {
  color: $textColor;
}
.mainImage {
  position: relative;
  /* background: url('../../assets/heroImage.png') no-repeat; */
  background-size: cover;
  & > div {
    width: 80%;
    max-width: 1217px;
    margin: 0 auto;
  }
}
.mainImageInnerwrapper {
  display: flex;
  padding-top: 115px;
  padding-bottom: 150px;
  & > div:first-child {
    width: 60%;
  }
  & > div:nth-child(2){
    width: 40%;
  }
  h1 {
    margin-bottom: 62px;
    font-size: 9rem;
    font-weight: 300;
    color: $white;
  }
  p {
    color: $white;
    font-size: 2rem;
  }
}
.mainImageInnerwrapper div:first-child div:nth-child(2)){
  padding-right: 10vw;
}
.theserverlessmovement {
  display: flex;
}
.innerWrapper {
  display: flex;
  width: 80%;
  max-width: 1217px;
  margin: 0 auto;
}
.itemBlock {
  width: 50%;
}
section {
  h2 {
    position: relative;
    font-size: 4.8rem;
    font-weight: 300;
  }
  h2:after {
    position: absolute;
    display: block;
    content: '';
    top: -16px;
    left: -20px;
    /* background: url('../../assets/reddotgrid.svg') no-repeat; */
    width: 98px;
    height: 38px;
  }
  .theserverlessmovement,
  .whatMakesServerless {
    padding-top: 242px;
    img {
      max-width: 200%;
      position: relative;
      top: -50%;
      left: -50%;
      transform: translateY(26%);
    }
  }
  .whatMakesServerless {
    padding-top: 0;
    margin-top: -35px;
    img {
      top: -50%;
      left: -50%;
      transform: translateY(32%);
    }
  }
  .getStarted {
    .innerWrapper {
      display: block;
      /* background: url('../../assets/cta-bg.png') no-repeat; */
      background-size: cover;
      text-align: center;
      padding: 60px 0 76px;
      p {
        font-size: 3.5rem;
        line-height: 1;
        color: $white;
        text-align: center;
      }
      a {
        margin-top: 35px;
      }
    }
  }
  .col {
    width: 50%;
    img {
      display: block;
    }
    p {
      color: $textColor;
    }
  }
  .benefitsOfServFramework,
  .benefits {
    text-align: center;
    margin-top: 168px;
    h3 + p {
      text-align: center;
    }
    h3 {
      font-size: 3rem;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 0;
    }
    p {
      color: $lightgrey;
      font-size: 1.2rem;
    }
    .innerWrapper {
      flex-wrap: wrap;
      padding-top: 90px;
    }
    .col {
      position: relative;
      width: 50%;
      h4 {
        padding: 20px 0;
        margin: 0;
      }
      img {
        max-width: 128px;
      }
    }
    h4, & p {
      position: relative;
      text-align: left;
    }
    .col:nth-child(3),
    .col:nth-child(4) {
      padding-top: 90px;
    }
    .col:nth-child(3),
    .col:first-child {
      padding-right: 12rem;
    }
    .col:nth-child(2),
    .col:nth-child(4) {
      padding-left: 12rem;
    }
    .col:first-child h4::after {
      position: absolute;
      top: -16px;
      left: -29px;
      display: block;
      content: '01';
      color: rgba(253, 87, 80,  0.1);
      font-size: 7rem;
    }
    .col:nth-child(2) h4::after {
      position: absolute;
      top: -16px;
      left: -29px;
      display: block;
      content: '02';
      color: rgba(253, 87, 80,  0.1);
      font-size: 7rem;
    }
    .col:nth-child(3) h4::after {
      position: absolute;
      top: -16px;
      left: -29px;
      display: block;
      content: '03';
      color: rgba(253, 87, 80,  0.1);
      font-size: 7rem;
    }
    .col:nth-child(4) h4::after {
      position: absolute;
      top: -16px;
      left: -29px;
      display: block;
      content: '04';
      color: rgba(253, 87, 80,  0.1);
      font-size: 7rem;
    }
  }
  .theserverlessFramework {
    margin-top: 200px;
    img {
      max-width: 200%;
      position: relative;
      top: -50%;
      left: -50%;
      transform: translateY(36%);
    }
    h2 {
      font-weight: 400;
    }
  }
}
.nextStep {
  margin-top: 200px;
  h2, p {
    color: #ffffff;
  }
  h2::after {
    top: -62px;
    left: -101px;
    width: 152px;
    height: 128px;
    /* background: url('../../assets/dotgrid-red.png') no-repeat; */
  }
  .innerWrapper {
    background: #FD5750;
    & > div:first-child {
      padding: 105px;
      p {
        color: #ffffff;
      }
    }
    & > div:nth-child(2) {
      display: flex;
      /* background: url('../../assets/glitch-screen.png') no-repeat; */
      div {
        margin: 0 auto;
      }
    }
  }
}
.glitch {
  /* background: url('../../assets/glitchdivider.svg') no-repeat; */
  background-size: cover;
  height: 160px;
  width: 100%;
  margin: 180px 0 200px;
}
